Makefile
Makefile.in
aclocal.m4
*/.deps/
*/.libs/
*/Makefile
*/Makefile.in
*/*/Makefile
*/*/Makefile.in
*/*.lo
*/*.la
*/*.o
*/*.pc
autom4te.cache/
config.guess
config.h
config.log
config.status
config.sub
configure
ecomp-cube.pc
ecomp-scale.pc
ecomp.pc
libtool
ltmain.sh
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
metadata/*.xml
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
stamp-h1
src/ecomorph
bcop/src/bcop
